.page__default__style{
    background-color: #f0f3f5;
    padding: 40px;

}

@media only screen and (max-width: 1000px) {
    .page__default__style{
        background-color: #f0f3f5;
        padding: 20px;
    
        .top__heading{ 
            padding: 20px; 
            margin-bottom: 20px;
        }
    
        .prize__table{  
            padding: 20px; 
        }
    
        .item__view__area{ 
            gap: 20px;
        }
    }
    
}


@media only screen and (max-width: 700px) {
    .page__default__style{
        background-color: #f0f3f5;
        padding: 10px;
    
        .top__heading{ 
            padding: 10px; 
            margin-bottom: 10px;
        }
    
        .prize__table{  
            padding: 10px; 
        }
    
        .item__view__area{ 
            gap: 10px;
        }
    }
}


@media only screen and (max-width: 501px) {
    .page__default__style{
        background-color: #f0f3f5;
        padding: 2px;
    
        .top__heading{ 
            padding: 2px; 
            margin-bottom: 2px;
        }
    
        .prize__table{  
            padding: 2px; 
        }
    
        .item__view__area{ 
            gap: 2px;
        }
    }
}